:root {
  --bg: #0f172a;
  --text: #e5e7eb;
  --accent: #2563eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

section {
  padding: 80px 10%;
}

h1, h2, h3 {
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  gap: 60px;
  min-height: 100vh;
}

.hero img {
  width: 280px;
  border-radius: 12px;
}

.cta {
  margin-top: 24px;
}

.btn {
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  margin-right: 12px;
  transition: 0.3s ease;
}

.primary {
  background: var(--accent);
  color: white;
}

.secondary {
  border: 1px solid var(--accent);
  color: var(--accent);
}

.btn:hover {
  transform: translateY(-2px);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.project-card {
  background: #020617;
  padding: 24px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

a {
  color: var(--accent);
  text-decoration: none;
}


.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    width: 220px;
  }
}
